*{
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #E5D9F2;
    display: grid;
    height: 100vh;
    place-items: center;
}



.main{
    width: 400px;
    height: 400px;
    background-color: #F5EFFF;
    position: absolute;
    border: 3px solid #7469B6;
    box-shadow: black;
    border-radius: 6px;
}

.main input[type='text']{
    width: 80%;
    position: relative;
    height: 40px;
    top: 5px;
    left: 15px;
    padding: 3px 6px;
    outline: none;
    font-size: 40px;
    border: 3px solid #7469B6;
    display: flex;
    margin: 5px;
    border-radius: 6px;
    color: black;
    text-align: right;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin-top: 20px;
}

.btn input[type='button'] {
    width: 90px;
    height: 60px;
    padding: 2px;
    margin: 2px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid #7469B6;
    border-radius: 6px;
    color: black;
    background-color:#CDC1FF;

}

.operators {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    color: #AD88C6;
}

.btn-clear {
    display: flex;
    align-items: stretch;

}

.btn-clear input[type='button']{
    width: 100px;
    height: 135px;
    background-color: #7469B6;
    color: white;
}


.btn input[type='button']:hover{
    background-color: black;
    color: white;
}

#headingTitle{
    text-align: center;
    padding: 20px;
}

.form-label{
    padding: 10px;
    font-weight: bolder;
}

